.App {
  text-align: center;
  
}
.navbar{
  overflow: hidden;
  background: black ;
  color: white;
}

.container{
  width: 80% ;
  margin : auto ;
}

.logo{
  font-size: 25px;
  width:30% ;
  float: left;
  display: block;
  margin: 10px 0;
  color : white;
}

ul{
  width: 70% ;
  float: left;
  padding: 0 ;
  text-align: right;
}

ul a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}


input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  height:50px ;
  margin-left: 5px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}


.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
  height: 10%;
}

.films{
  margin-top: 50px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}